In [183]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [184]:
df=pd.read_csv(r"C:\Users\VIKESH\Desktop\DATA_SET\logistic Regression\Social_Network_Ads.csv")

In [185]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [298]:
#logistic Regression
#person will buy a new_car or Not?
# A Car  compancy launch new model car & marketing in social_media and we will check customer buy car
#through social media marketing or not.?
# we see above data column(Purchased).?
# 0:- not purchased
# 1:- car purchased

In [187]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [188]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [189]:
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [190]:
#dependent_variable:- Age,EstimatedSalary & Target_variable='Purchased'

In [191]:
# 1st pre-processing
# 2nd logistic_Regression_model
#3rd -evaluate

In [212]:
X=df.iloc[:,[0,1]]

In [213]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [214]:
y=df.iloc[:,-1]

In [215]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [247]:
from sklearn.model_selection import train_test_split

In [282]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,random_state=1)

In [283]:
X_train.shape,X_test.shape

((300, 2), (100, 2))

In [284]:
from sklearn. preprocessing import StandardScaler

In [285]:
sc=StandardScaler()

In [286]:
X_train_scal=sc.fit_transform(X_train)

In [287]:
X_test_scal=sc.transform(X_test)

In [288]:
from sklearn.linear_model import LogisticRegression

In [289]:
lg=LogisticRegression(random_state=0)

In [290]:
lg.fit(X_test_scal,y_test)

LogisticRegression(random_state=0)

In [291]:
y_pred=lg.predict(X_test_scal)

In [292]:
print(y_pred)

[0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 1 0 1 1 1 0 0 1 1 1 1 0 0 0 1 0 0 0
 0 1 0 1 1 0 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0
 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 1 1 0 0 0]

In [293]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [294]:
print('accuracy',accuracy_score(y_test,y_pred))

accuracy 0.84

In [295]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.90      0.87        58
           1       0.84      0.76      0.80        42

    accuracy                           0.84       100
   macro avg       0.84      0.83      0.83       100
weighted avg       0.84      0.84      0.84       100

In [296]:
cf=confusion_matrix(y_test,y_pred)

In [297]:
cf

array([[52,  6],
       [10, 32]], dtype=int64)